*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.button{
    transition: all 300ms ease-in-out;
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

.button:hover {
    transform: scale(1.5);
}
.score{
    display: flex;
    justify-content: space-around;
}
.message{
    display: flex;
    justify-content: center;
}
.message p{
    font-size: 30px;
    color: red;
    font-family: cursive;
}